PORT=3000
DATABASE_URL=postgresql://user:pass@localhost:5432/remesa_blink
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=B1G72CcRGHYc1UpG4o51VrJySLiwm3d7tCHbQiSb5vZ2
KEEPER_PRIVATE_KEY=tu_clave_base58_aqui
BLINKS_BASE_URL=http://localhost:3001
DEBUG=
